RewriteEngine On

# Laisser Apache servir directement les fichiers et dossiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Envoyer toutes les autres requêtes vers le front controller
RewriteRule ^ index.php [QSA,L]